.sub-title__box {
    position: relative;
    margin-bottom: 3rem;
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
}
.success-message {
    background-color: var(--success);
    font-family: var(--title-font);
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin-bottom: 2rem;
}
.success-message > * {
    font-family: inherit;
    font-size: inherit;
}
.success-message--active {
    opacity: 1;
    visibility: visible;
}
.btn--first {
    margin-right: 1rem;
}
.products {
    text-align: center;
}

.content__main .btn {
    background-color: transparent;
    color: var(--sub-text-color);
}

@media screen and (min-width: 1440px) { 
    .content__main .btn:hover {
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        border-color: var(--sub-text-color);
    }
}



